<!--Partial view to display a comment-->
<section class="card post">
    <header></header>
    <p>{{content}}</p> <!--Include the comment content-->
    <p> — {{user.username}}, {{format_date creation_date}}</p> <!--Include the username and the date with format-->
</section>