<!--Partial view to display a post in the dashboard-->
<section class="card dashpost">
  <a href="/dashboard/post/{{id}}"> <!--Use an <a> tag as envelope-->
    <header>
      <h4>{{title}}</h4> <!--Set post title-->
      <h6>{{format_date creation_date}}</h6> <!--Set creation date with format-->
    </header>
  </a>
</section>