<section class = "card post">
  <header>
    <h4>Create New Post</h4>
  </header>
  <form id="form-postcreation" class="creationforms">
    <div class="form-group">
        <label for="posttitle-input">Title</label>
        <input class="form-input" type="text" id="posttitle-input"/>
    </div>
    <div class="form-group">
        <label for="postcontent-input">Content</label>
        <textarea id="postcontent-input"></textarea>
    </div>
    <div class="form-group">
      <button type = "submit" id="submitcreate">Create</button>
    </div>
  </form>
</section>
<script src="/js/dashboard.js"></script>