<!--View for post creation-->
<section class = "card post">
  <header>
    <h4>Create New Post</h4>
  </header>
  <form id="form-postcreation" class="creationforms"> <!--Form for post creation-->
    <div class="form-group">
        <label for="posttitle-input">Title</label>
        <input class="form-input" type="text" id="posttitle-input"/> <!--Input for new post title-->
    </div>
    <div class="form-group">
        <label for="postcontent-input">Content</label>
        <textarea id="postcontent-input"></textarea> <!--Text area for new post content-->
    </div>
    <div class="form-group">
      <button type = "submit" id="submitcreate">Create</button> <!--Button to create new post-->
    </div>
  </form>
</section>
<script src="/js/dashboard.js"></script> <!--Include dashboard.js script-->