header {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    background-color: black;
    height: 220px;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

nav {
    margin-left: 40px;
    margin-top: 30px;
}

nav a {
    color:  rgb(200, 231, 200);
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
}

header h1{
    background-color: rgb(200, 231, 200);
    color: black;
    width: 300px;
    margin-left: 40px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 10px 5px 2px rgb(153, 153, 153);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

body {
    background-color: rgb(200, 231, 200);
}

.login {
    border-style:solid;
    width:600px;
}

.login h2{
    background-color: black;
    color: rgb(200, 231, 200);
    height: 50px;
    padding-left:30px;
}

.login-form{
    height:350px;
}

.form label{
    padding-left:30px;
    font-size: 22px;
    font-weight:bold;
}

.form input, .form button{
    width:500px;
    margin-left:30px;
}

.form button{
    background-color: rgb(117, 114, 114);
    color:white;
    font-size:20px;
    margin-top: 15px;
}

.login a{
    display:block;
    font-size: 20px;
    margin-top: 30px;
    margin-left:30px;
    color:blue;
    font-weight:bold;

}

.posts {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.post{
    width: 800px;
    text-decoration:none;
    border-width: 5px;
}

.post header{
    color:rgb(200, 231, 200);
    height: 60px;
    padding-left: 30px;
    justify-content: space-between;
}

.post a:hover{
    opacity:1;
    text-decoration:none;

  }

.post p{
    color:black;
    padding-left: 30px;
    margin-top:10px;
    padding-top: 10px;
}

.post h6{
    color:white;
    padding-right:10px;
}

#form-comment label{
    margin-left: 20px;
}

#form-comment .textarea{
    margin-left: 20px;
 
}

#form-comment textarea{
    margin-top:10px;
    width:760px;
    height:80px;
    resize:none;
}

#form-comment button{
    width:760px;
    margin-left:20px;
    background-color:grey;
    border-radius: 5px;
    color:white;
    height:30px;
}

.dashpost{
    width: 800px;
    text-decoration:none;
    border-width: 0px;
    border-style:none;
}

.dashpost header{
    justify-content:space-between;
    background-color: grey;
    height:50px;
    border-radius:5px;
}

.dashpost h4, .dashpost h6{
    color:white;
    display:inline-block;
}

.dashpost h4{
    margin-left:30px;
}

.dashpost h6{
    margin-right:30px;
}

.dashpost a:hover{
    opacity:1;
    text-decoration:none;

  }

#seccreation{
    margin-top:50px;
}

#creationbutton{
    width: 150px;
    height:40px;
    background-color:black;
    color: rgb(200, 231, 200);
    font-size:22px;
    border-radius:8px;
  }

#form-postcreation label{
    margin-left: 20px;
    font-weight:600;
}

#form-postcreation button{
    width:760px;
    margin-left:20px;
    background-color:grey;
    border-radius: 5px;
    color:white;
    height:30px;
}

#form-postcreation #posttitle-input{
    margin-top:10px;
    width:760px;
    margin-left: 20px;
    height:40px;
    font-size:22px;
}

#form-postcreation #postcontent-input{
    margin-top:10px;
    width:760px;
    margin-left: 20px;
    height:100px;
    font-size:18px;
    resize:none;
}

#form-postupdate label{
    margin-left: 20px;
    font-weight:600;
}

#form-postupdate button{
    width:760px;
    margin-left:20px;
    background-color:grey;
    border-radius: 5px;
    color:white;
    height:30px;
    margin-top:10px;
}

#form-postupdate #updatetitle-input{
    margin-top:10px;
    width:760px;
    margin-left: 20px;
    height:40px;
    font-size:22px;
}

#form-postupdate #updatecontent-input{
    margin-top:10px;
    width:760px;
    margin-left: 20px;
    height:100px;
    font-size:18px;
    resize:none;
}